<h2>Че о кайфу делай или запишись</h2>
<p>На данной страннце вы можете заисатья в наш Barbershop</p>

<form action="/visit" method="POST">
  <div class="mb-3">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Введите имя">
    <label>Введите дату</label>
    <input name="date_time" type="text" class="form-control" placeholder="Введите дату">
  </div>
  <br></br>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>
<br></br>
<h3><%= @title %></h3>

<h2><%= @message %></h2>

