<h2>Че о кайфу делай</h2>
<p>На данной страннце вы можете заисатья в наш Barbershop</p>

<form action="/visit" method="POST">
  <div class="mb-3">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Введите имя">
  </div>
  <br></br>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>